<div class="col-md-4" style="margin-left:30%">
<div class="box box-info" style="top: 140px;">

<div class="box-header with-border">
    <h3 class="box-title">Help Desk | Login</h3>
</div>

<form class="form-horizontal" #form="ngForm" (ngSubmit)="login()">
    <div [ngClass]="classCss" style="margin-bottom: 5px;" role="alert" *ngIf="message">
        <strong>{{ message.text }}</strong>
      </div>

    <div class="box-body" style="height: 100px;">
        <div [ngClass]="getFormGroupClass(email.invalid, email.dirty)">
            <label for="inputEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input 
                    type="correio" 
                    name="email" 
                    class="form-control" 
                    id="inputEmail" 
                    placeholder="Email" 
                    [(ngModel)]="user.email" 
                    #email="ngModel" 
                    email 
                    required>
                <span class="help-block" *ngIf="email.invalid && email.dirty">Email is invalid</span>
            </div>
        </div>

        <div [ngClass]="getFormGroupClass(password.invalid, password.dirty)">
            <label for="inputPassword" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password" [(ngModel)]="user.password" #password="ngModel" required>
                <span class="help-block" *ngIf="password.invalid && password.dirty">Password is invalid</span>
            </div>
        </div>
    </div>

    <div class="box-footer">
        <button type="submit" style="
        margin-right: 150px;
        padding-right: 30px;
        padding-left: 30px;" 
        [disabled]="!form.valid" class="btn btn-info pull-right">Login</button>
    </div>
</form>
</div>
