<app-header [hidden]="!showTemplate"></app-header> <!-- Se tiver false, ou seja, não logado, não vai mostrar esse template -->
<app-menu [hidden]="!showTemplate"></app-menu>

<div [ngClass]="showContentWrapper()">
    <section class="content-header"></section>
    <section class="content"><router-outlet></router-outlet></section>
</div>

<app-footer [hidden]="!showTemplate"></app-footer> 